/* Start normalize */
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  pad: 0 16px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
/* End normalize */

/* Start Cards section */

.cards {
  display: flex;
  gap: 34px;
}

.card__img {
  z-index: -10;
  width: 260px;
  border-radius: 5px;
  background: var(--image-product-shoes-3, url(<path-to-image>), lightgray -49.541px -68.142px / 133.083% 133.083% no-repeat);
}

.card {
  width: 260px;
  stroke-width: 3px;
  stroke: #F6F7F8;
  margin-bottom: 35px;
}

.buy__img {
  position: absolute;
  top: -150px;
}

.rate__img {
  margin-left: 22%;
}

.prices {
  display: flex;
  align-items: center;
}

.main__price {
  margin-left: 20px;
  color: var(--primary-blue, #40BFFF);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%; /* 32.4px */
  letter-spacing: 0.5px;
}

.sale__price {
  text-decoration: line-through;
  margin-left: 20px;
  color: var(--neutral-grey, #9098B1);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: 0.5px;
  text-decoration-line: strikethrough;
}

.discount {
  margin-left: 5px;
  color: var(--primary-red, #FB7181);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
  letter-spacing: 0.5px;
}

.cards__title {
  text-align: center;
  color: #22262A;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cards__navbar {
  margin-left: 25%;
  margin-top: 26px;
  margin-bottom: 24px;
}

.cards__link {
  margin-left: 35px;
  color: #262626;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all ease 0.6s;
}

.cards__link:hover {
  border-bottom: 2px solid #33A0FF;
  padding-bottom: 15px;
  color: #33A0FF;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card__title {
  margin: 10px 0px 7px 35px;
  width: 219.331px;
  color: var(--neutral-dark, #223263);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  letter-spacing: 0.5px;
}
/* End Cards section */