/* start normalize */

/* Start normalize */
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  pad: 0 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
/* End normalize */
.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1440px;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1240px;
}
/* End minimalize */
.header__top {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.header__lang {
  display: flex;
}
.language {
  border: none;
  font-size: 20px;
  font-weight: 400;
  color: #262626;
  font-style: normal;
  line-height: normal;
  font-family: Proxima Nova;
}
.money {
  border: none;
  font-size: 20px;
  font-weight: 400;
  color: #22262a;
  font-style: normal;
  line-height: normal;
  font-family: Proxima Nova;
}
.header__items {
  gap: 20px;
  display: flex;
  align-items: center;
}

.header__down {
  display: flex;
  margin-top: 51px;
  justify-content: space-between;
}
.header__down_logo {
  height: 44px;
  width: 134.315px;
}
.header__ul {
  gap: 97px;
  display: flex;
}
.ul_li {
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  font-family: Poppins;
}
.ul_li:hover {
  font-weight: 500;
  color: #40bfff;
  font-style: normal;
  line-height: normal;
  font-family: Poppins;
}
.hero__big_img {
  z-index: -10;
  margin-top: 27px;
  width: 1418.478px;
  height: 653.734px;
  border-radius: 5px;
  position: absolute;
  background: var(
    --promotion-image-1,
    linear-gradient(180deg, #000 -73.06%, rgba(0, 0, 0, 0) 100%),
    url(<path-to-image>),
    lightgray 50% / cover no-repeat
  );
}
.hero__super {
  top: 200px;
  z-index: 10;
  position: relative;
}
.hero__h1 {
  font-size: 64px;
  width: 573.169px;
  height: 228.49px;
  font-weight: 700;
  line-height: 150%; /* 96px */
  font-style: normal;
  letter-spacing: 0.5px;
  font-family: Poppins;
  color: var(--background-white, #fff);
}
.hero__cards {
  gap: 0;
  display: flex;
}

.card__price {
  text-decoration: line-through;
}
.hero__card_page {
  top: 90px;
  display: flex;
  padding: -50px;
  margin-left: 52px;
  position: relative;
}
.hero__card_h3 {
  height: 58.08px;
  font-size: 20px;
  width: 202.181px;
  font-weight: 700;
  line-height: 150%; /* 30px */
  font-style: normal;
  font-family: Poppins;
  letter-spacing: 0.5px;
  color: var(--neutral-dark, #223263);
}
.card__money {
  font-size: 30px;
  width: 117.818px;
  height: 39.291px;
  font-weight: 700;
  line-height: 180%; /* 54px */
  margin-top: 25px;
  margin-left: 22px;
  font-style: normal;
  font-family: Raleway;
  letter-spacing: 0.5px;
  color: var(--primary-blue, #40bfff);
}
.card__coin {
  gap: 8px;
  bottom: 50px;
  display: flex;
  margin-left: 150px;
  position: relative;
  align-items: center;
}
.card__price {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
  font-style: normal;
  font-family: Poppins;
  letter-spacing: 0.5px;
  text-decoration-line: strikethrough;
  color: var(--neutral-grey, #9098b1);
}
.price__color {
  width: 75.541px;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%; /* 27px */
  font-style: normal;
  font-family: Poppins;
  letter-spacing: 0.5px;
  color: var(--primary-red, #fb7181);
}

/* Start Cards section */

.cards {
  display: flex;
  gap: 34px;
}

.card__img {
  z-index: -10;
  width: 260px;
  border-radius: 5px;
  background: var(
    --image-product-shoes-3,
    url(<path-to-image>),
    lightgray -49.541px -68.142px / 133.083% 133.083% no-repeat
  );
}

.card {
  width: 260px;
  stroke-width: 3px;
  stroke: #f6f7f8;
  margin-bottom: 35px;
}

.buy__img {
  position: absolute;
  top: -150px;
}

.rate__img {
  margin-left: 22%;
}

.prices {
  display: flex;
  align-items: center;
}

.main__price {
  margin-left: 20px;
  color: var(--primary-blue, #40bfff);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%; /* 32.4px */
  letter-spacing: 0.5px;
}

.sale__price {
  text-decoration: line-through;
  margin-left: 20px;
  color: var(--neutral-grey, #9098b1);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: 0.5px;
  text-decoration-line: strikethrough;
}

.discount {
  margin-left: 5px;
  color: var(--primary-red, #fb7181);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
  letter-spacing: 0.5px;
}

.cards__title {
  text-align: center;
  color: #22262a;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cards__navbar {
  margin-left: 25%;
  margin-top: 26px;
  margin-bottom: 24px;
}

.cards__link {
  margin-left: 35px;
  color: #262626;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all ease 0.6s;
}

.cards__link:hover {
  border-bottom: 2px solid #33a0ff;
  padding-bottom: 15px;
  color: #33a0ff;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card__title {
  margin: 10px 0px 7px 35px;
  width: 219.331px;
  color: var(--neutral-dark, #223263);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  letter-spacing: 0.5px;
}
/* End Cards section */
